*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 10%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color:goldenrod;
    font-size: 15px;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
}


.left-col h1{
    font-size: 70px;
    color:gold;
    margin-left: 6%;
    display: block;
}

.right-col{
    float: right;
    margin-right: 6%;
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.right-col p{
    font-size: 18x;
    color: goldenrod;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 50px;
    cursor: pointer;
} 

.deskripsi-about p{
    font-size: 15px;
    color:gold;
    float: left;
    margin-left: 6%;
    margin-right: 50%;
}

.p1{
    margin-top: 150px;
}

.p2{
    margin-top: 10px;
    float: left;
}

.gambar-wawan1{
    float: left;
    margin-right: 6%;    
    align-items: center;
    width: 50%;
}

.teks-wawan1{
    font-size: 13px;
    color:gold;
    float: left;
    margin-left: 6%;
    width:44%;
}

.gambar-wawan2{
    margin-top: 10px;
    width: 55%;
    height: 50%;
    margin-left: 12%;
}